label {
  @apply text-sm font-medium leading-5;
}

.btn {
  @apply flex items-center px-4 py-2 text-sm font-medium text-gray-300 tracking-wide text-white capitalize transition-colors duration-300 transform rounded-lg border border-zinc-700 hover:bg-zinc-800 focus:(outline-none ring ring-zinc-500 ring-opacity-80);
}

.btn.icon-right {
  @apply flex-row-reverse;
}

.btn-group {
  @apply flex overflow-hidden border divide-x rounded-lg rtl:flex-row-reverse bg-zinc-900 border-zinc-700 divide-zinc-700
}

.btn-group .btn {
  @apply rounded-none border-y-0;
}

.btn-group .btn:first-child {
  @apply rounded-none border-0;
}

.btn.btn-primary {
  @apply bg-pink-600 hover:bg-pink-500 focus:(outline-none ring ring-pink-300 ring-opacity-80);
}

.form-group .form-group-header {
  @apply mb-2 whitespace-nowrap;
}

.form-group .form-group-body {
  @apply mt-1;
}

.form-group .form-control:not(select.form-control) {
  @apply w-full;
}

.form-control {
  @apply px-3 py-3 leading-5 align-middle transition duration-75 ease-in-out text-sm border border-zinc-700 rounded-md bg-zinc-900 select-none;
}

.form-control[type="checkbox"] {
  @apply !w-4 !h-4;
}

select.form-control {
  @apply appearance-none pr-8 bg-zinc-800 bg-no-repeat bg-size-16;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzZlNzY4MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=");
  background-position: right 4px center;
}

textarea.form-control {
  @apply h-42;
}

.mandatory::after {
  @apply inline-block content-['*'] text-red-600 ml-1;
}

.table-container {
  @apply rounded border border-zinc-700 text-sm w-full overflow-auto;
}

.table {
  @apply border-collapse min-w-full;
}

.table thead tr {
  @apply h-10 bg-zinc-800 w-full;
}

.table tbody tr {
  @apply border-t border-b border-zinc-700 h-10 cursor-pointer bg-zinc-800 hover:(bg-zinc-900);
}

.table th {
  @apply whitespace-nowrap text-left px-4 hover:(bg-zinc-900) sticky top-0 bg-zinc-800;
}

.table td {
  @apply whitespace-nowrap text-left px-4 max-w-sm overflow-hidden overflow-ellipsis;
}

.table tbody td:nth-child(1) {
  @apply sticky left-0 bg-zinc-800;
}

.table tbody tr:hover td:nth-child(1) {
  @apply bg-zinc-900;
}

.table thead th:nth-child(1) {
  @apply left-0 w-[1%];
  z-index: 1;
}

.blankstate {
  @apply relative p-8 text-center;
}

.blankstate-heading {
  @apply mb-2 text-lg font-bold;
}

.dot-loader {
  @apply inline-block overflow-hidden align-bottom;
}

.dot-loader::after {
  @apply inline-block content-['...'];
  animation: dot-loader-keyframes 1.2s steps(4, jump-none) infinite;
}

.anim-pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.anim-spin {
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes dot-loader-keyframes {
  0% {
    transform: translateX(-100%);
  }
}

.debug {
  @apply border border-dashed border-pink-700;
}

.sc {
  @apply rounded scrollbar scrollbar-thumb-zinc-600 scrollbar-track-zinc-900 scrollbar-thin scrollbar-thumb-rounded-md;
}

.dialog__overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.4);
  animation: overlayHide 250ms ease 100ms forwards;
}

.dialog__overlay[data-expanded] {
  animation: overlayShow 250ms ease;
}

.dialog__positioner {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
}

.dialog__content {
  @apply bg-zinc-800 border-l border-zinc-700;
  z-index: 50;
  max-width: min(calc(100vw - 16px), 700px);
  min-width: 700px;
  padding: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  animation: drawerHide 300ms ease-in forwards;
}

.dialog__content[data-expanded] {
  animation: drawerShow 300ms ease-out;
}
.dialog__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 12px;
}
.dialog__close-button {
  height: 16px;
  width: 16px;
  color: hsl(240 5% 34%);
}
.dialog__title {
  font-size: 20px;
  font-weight: 500;
}
.dialog__description {
  font-size: 16px;
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes drawerShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes drawerHide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.tabs {
  @apply w-full;
}
.tabs[data-orientation="vertical"] {
  display: flex;
}
.tabs__list {
  @apply flex relative mb-4 rounded-md;
}
.tabs__list[data-orientation="horizontal"] {
  @apply bg-zinc-800;
  align-items: center;
}
.tabs__list[data-orientation="vertical"] {
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid hsl(240 5% 84%);
}
.tabs__indicator {
  position: absolute;
  @apply bg-pink-500;
  transition: all 250ms;
}
.tabs__indicator[data-orientation="horizontal"] {
  bottom: -1px;
  height: 2px;
}
.tabs__indicator[data-orientation="vertical"] {
  right: -1px;
  width: 2px;
}
.tabs__trigger {
  display: inline-block;
  padding: 8px 16px;
  outline: none;
}
.tabs__trigger:hover,
.tabs__trigger:focus-visible {
  @apply bg-zinc-700 text-zinc-100;
}
.tabs__trigger:hover:first-child,
.tabs__trigger:focus-visible:first-child {
  @apply rounded-l-md;
}
.tabs__trigger[data-disabled],
.tabs__trigger[data-disabled]:hover {
  opacity: 0.5;
  background-color: transparent;
}
.tabs__content {
  @apply bg-zinc-800;
}
.dropdown-menu__trigger {
  @apply flex items-center justify-center w-8 h-8 my-4 rounded-full cursor-pointer;
}
.dropdown-menu__content,
.dropdown-menu__sub-content {
  @apply bg-zinc-800 border border-zinc-700 py-1;
  min-width: 220px;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  outline: none;
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}
.dropdown-menu__content[data-expanded],
.dropdown-menu__sub-content[data-expanded] {
  animation: contentShow 250ms ease-out;
}
.dropdown-menu__item,
.dropdown-menu__checkbox-item,
.dropdown-menu__radio-item,
.dropdown-menu__sub-trigger {
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 32px;
  @apply p-4;
  position: relative;
  user-select: none;
  outline: none;
}
.dropdown-menu__sub-trigger[data-expanded] {
  background-color: hsl(204 94% 94%);
  color: hsl(201 96% 32%);
}
.dropdown-menu__item[data-disabled],
.dropdown-menu__checkbox-item[data-disabled],
.dropdown-menu__radio-item[data-disabled],
.dropdown-menu__sub-trigger[data-disabled] {
  color: hsl(240 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}
.dropdown-menu__item[data-highlighted],
.dropdown-menu__checkbox-item[data-highlighted],
.dropdown-menu__radio-item[data-highlighted],
.dropdown-menu__sub-trigger[data-highlighted] {
  @apply bg-zinc-700 text-zinc-100;
  outline: none;
}
.dropdown-menu__group-label {
  padding: 0 24px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240 4% 46%);
}
.dropdown-menu__separator {
  height: 1px;
  border-top: 1px solid hsl(240 6% 90%);
  margin: 6px;
}
.dropdown-menu__item-indicator {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu__item-right-slot {
  margin-left: auto;
  padding-left: 20px;
  font-size: 14px;
  color: hsl(240 4% 46%);
}
[data-highlighted] > .dropdown-menu__item-right-slot {
  color: white;
}
[data-disabled] .dropdown-menu__item-right-slot {
  color: hsl(240 5% 65%);
  opacity: 0.5;
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

.toast__list {
  @apply fixed bottom-0 right-0 flex flex-col gap-2 p-4 w-96 max-w-full m-0 list-none outline-none;
  z-index: 9999;
}

.toast {
  --viewport-padding: 1rem;
  @apply flex w-full max-w-sm overflow-hidden rounded-lg shadow-md bg-zinc-800;
}
.toast[data-opened] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-closed] {
  animation: hide 100ms ease-in;
}
.toast[data-swipe="move"] {
  transform: translateX(var(--kb-toast-swipe-move-x));
}
.toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}
.toast__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.toast__close-button {
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin-left: auto;
  color: hsl(240 5% 34%);
}
.toast__title {
  font-size: 16px;
  font-weight: 500;
}
.toast__description {
  font-size: 14px;
}
.toast__progress-track {
  height: 8px;
  width: 100%;
  background-color: hsl(240 6% 90%);
  border-radius: 3px;
}
.toast__progress-fill {
  background-color: hsl(200 98% 39%);
  border-radius: 3px;
  height: 100%;
  width: var(--kb-toast-progress-fill-width);
  transition: width 250ms linear;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
